*{
    font-family:monospace;  
    margin: 0;
    padding: 0;
    color: black;
}

#root {
    max-width: 100vw;
    width: 100vw;
    padding: 0;
}

.navbar{
    width: 100%;
    height: 50px;
    background-color: #ff4800;
}
ul{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
li{
    display: inline-block;
    width: max-content;
    list-style: none;
    font-size: 1.3rem;
}